In [43]:
import pandas as pd
import os

In [52]:
DATA_PATH = 'H:\\Python\\NetologyHW\\4-1\\names\\'

In [64]:
def count_top_3(years):
    years_load = []
    for year in years:
        years_load.append(pd.read_csv(
            os.path.join(DATA_PATH + "yob" + str(year) + ".txt"),
            names=["Name", "Gender", "Count"]
            ))
    all_years = pd.concat(years_load).groupby("Name").sum().sort_values(by='Count', ascending=False).head(3).reset_index()
    top_3 = list(all_years["Name"])
    print(top_3)

In [83]:
count_top_3([1880])

['John', 'William', 'Mary']

In [65]:
count_top_3([1900, 1950, 2000])

['James', 'John', 'Robert']

In [82]:
def count_dynamics(years):
    gender_names = {}
    male_names = []
    female_names = []
    for year in years:
        result = pd.read_csv(
            os.path.join(DATA_PATH + "yob" + str(year) + ".txt"),
            names=["Name", "Gender", "Count"]
            )
        male_names.append(result[result.Gender == 'M'].Count.sum())
        female_names.append(result[result.Gender == 'F'].Count.sum())
    gender_names['M'] = male_names 
    gender_names['F'] = female_names
    print(gender_names)

In [78]:
count_dynamics([1900, 1950, 2000])

{'M': [150486, 1790871, 1962744], 'F': [299810, 1713259, 1814922]}